// ------------------------------
// Open edX Certificates: Overrides

// About: Additional sass rules that must come at the end of the compilation for overriding purposes - either for temporary/specific developer styling needs or for known poorly scoped/written styling (aka shame CSS).

// #TEMP
// #DEVELOPERS
// #SHAME

// ------------------------------
// #TEMP
// ------------------------------

// ------------------------------
// #DEVELOPERS
// ------------------------------

// ------------------------------
// #SHAME
// ------------------------------

//Certificate 

.cert-background {
    background-image: url(../images/cert-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 800px;
    width: 100%;
}

.cert-title {
    font-size: 60px;
    margin: 40px   
}

.cer-details {
    float: left;
}

.cert-details p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.cert-details h3 {
    font-size: 28px;
    margin-left: 40px;
}

.cert-details-btm {
    margin: 40px 20px
}
