// ------------------------------
// Open edX Certificates: Overrides

// About: Additional sass rules that must come at the end of the compilation for overriding purposes - either for temporary/specific developer styling needs or for known poorly scoped/written styling (aka shame CSS).

// #TEMP
// #DEVELOPERS
// #SHAME

// ------------------------------
// #TEMP
// ------------------------------

// ------------------------------
// #DEVELOPERS
// ------------------------------

// ------------------------------
// #SHAME
// ------------------------------

//Certificate 

.cert-background {
    background-image: url(/static/certificates/images/cert-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 800px;
    width: 100%;
}

.cert-heading h1 {
    font-size: 60px;
    margin-left: 40px; 
	color: #fcaf17;
	text-align: center;
}

.cert-details h2 {
	font-size: 40px;
	text-align:center
}

.cert-details h3 {
    font-size: 28px;
}

.cert-details p {
    font-size: 20px;
    margin-bottom: 20px;
	margin-left: 80px;
	margin-right: 80px;
}

.cert-btm {
    margin: 40px 20px
	text-align: center;
}

.cert-btm img {
	height: 90px;
}